<!DOCTYPE html>
<html ng-App="FundooModalApp">
  <head>
    <title>AngularJS Modal Services Demo</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
    <style type="text/css">
      li{
        line-height: 30px;
      }
      .codebox{
        border:2px solid;
        border-radius:2px;
        background-color:#c9e2b8;
        padding:20px;
      }
      pre{
        padding: 10px;
        line-height:30px;
        color:#4c3f3d;
        font-size: 14px;
      }
    </style>
    <script type="text/javascript">
      if(!window.console) {
        console={};
        console.log = function(){};
        console.debug = function(){};
        console.error = function(){};
        console.info = function(){};
      }
    </script>
  </head>
  <body ng-controller="MainCtrl" style="background-color: #eee; font-size:18px">
    <div class="row-fluid" >
      <div class="span8 pagination-centered hero-unit" style="margin-left:215px; margin-top:50px; background-color: #78d2b6;  ">
        <h1>AngularJS Modal Service</h1>
        <div class="span10 pagination-centered" style="margin-left:50px; margin-top:20px">
          <button ng-click="launchInlineModal()" class="btn btn-large btn-danger">Inline Modal</button>
          <button ng-click="launchObjectModal()" class="btn btn-large btn-danger">Object Modal</button>
          <button ng-click="launchSimpleModal()" class="btn btn-large btn-danger">Simple Modal</button>
          <button ng-click="launchComplexModal()" class="btn btn-large btn-danger">Complex Modal</button>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="createDialog.js"></script>
    <script src="app.js"></script>
  </body>
</html>
